
<div class="page-info">About Local Piano</div>

<div class="piano-icon"><i class="fa fa-music"></i></div>

<p class="about-info">The Local Piano App is a project by three students of General Assembly's Web Development Immsersive, Melbourne. The aim is to map out pianos that can be played by the general public.</p>
<p class="about-info">The map includes both community pianos that the general public can access and play, and performance venues suitable for professional pianists. </p>
<p class="about-info">The project is currently in development and we're still adding pianos to the map. You can too! Just sign up and start adding your own today.</p>
