<input type="hidden" id="coordinates" value="<%=
@coordinates.to_json %>">

<div class="index-container">
  <div class="top-input">
    <input class="input-text" type="text" id="search_string" placeholder="search locations">
    <!-- <button class="input-button" type="button" id="search_btn">GO</button> -->
  </div>

  <div id="googleMap" style="position: relative; overflow: hidden;"></div>

  <div id="tile"></div>

</div>
<!-- <div id="pianoSlider" class="tile-overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeTile()">&times;</a>
  <div class="tile-overlay-content">
    Your piano details
  </div>
</div> -->


<div id="googleMap"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASps5hTZ-16jFKeoywD5bycvwAt0VQp9c&libraries=places"></script>

<script type="template">
<div class="tile-contents">
  <div class="tile-header">
    <div class="piano-image" style="background-image: url( {{ image_url }} )"></div>
    <div class="piano-address">
      Piano at
      {{ address }}
    </div>
    <div class="piano-category">
      Category:
      {{ category }}
    </div>
    <div class="tile-star">
      <i onclick="starPiano({{ id }})"></i>
    </div>
  </div>
  <div class="tile-body">
    <div class="piano-location-description">
      {{ location_description }}</div>
    <div class="piano-piano-description">
      {{ piano_description }}</div>
    <div class="piano-access-description">
      {{ access_description }}</div>
  </div>
  <div class="tile-footer"></div>
</div>
</script>
