<input type="hidden" id="coordinates" value="<%= @coordinates.to_json %>">

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="#">About</a>
      <a href="#">Sign In</a>
      <a href="#">Sign Up</a>
      <a href="#">Contact</a>
    </div>
</div>
<div class="full-width">
  <span onclick="openNav()" class="menu-bar"><i class="fa fa-bars"></i></span>
    <div class="menu-title"> GUERILLA PIANIST</div>
</div>

<div id="googleMap"></div>

<script>
coordinates = JSON.parse(document.getElementById('coordinates').value);

var settings = {url: '/api_current'}
var piano_locations
$.ajax(settings).done(function(result) {
  // this creates a variable called piano_locations which is an array of objects, each with the keys 'address', 'category', 'latitude', and 'longitude'
  console.log(result.nearbys);
  piano_locations = result.nearbys
})



function myMap() {
var mapProp= {
    center:new google.maps.LatLng(coordinates.latitude, coordinates.longitude),
    zoom:13,
    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#D3E0EE"},{"lightness":17}]},
             {"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},
             {"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},
             {"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},
             {"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},
             {"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},
             {"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},
             {"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#D5EED3"},{"lightness":21}]},
             {"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},
             {"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},
             {"elementType":"labels.icon","stylers":[{"visibility":"off"}]},
             {"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},
             {"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},
             {"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
};

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASps5hTZ-16jFKeoywD5bycvwAt0VQp9c&callback=myMap"></script>
