<input type="hidden" id="coordinates" value="<%=
@coordinates.to_json %>">

<div class="top-input">
  <input class="input-text" type="text" id="search_string" placeholder="search locations">
  <!-- <button class="input-button" type="button" id="search_btn">GO</button> -->
</div>


<div id="googleMap"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASps5hTZ-16jFKeoywD5bycvwAt0VQp9c&libraries=places"></script>
