<input type="hidden" id="coordinates" value="<%=
@coordinates.to_json %>">

<input type="text" id="search_string" placeholder="search locations">

<button type="button" id="search_btn">GO</button>

<div id="googleMap"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASps5hTZ-16jFKeoywD5bycvwAt0VQp9c&libraries=places"></script>
