<input type="hidden" id="coordinates" value="<%=
@coordinates.to_json %>">
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="index-container">
  <div class="top-input">
    <input class="input-text" type="search" id="search_string" placeholder="search locations">
    <!-- <button class="input-button" type="button" id="search_btn">GO</button> -->
  </div>

  <div id="googleMap" style="position: relative; overflow: hidden;"></div>


</div>

<div id="tile"></div>
<div id="snack-star">Piano added to favourites!</div>

<a href="/pianos/new" class="btn-floating floating-right"><i class="fa fa-plus"></i></a>
<a onclick="locateMe()" class="btn-floating floating-left"><i class="fa fa-crosshairs"></i></a>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASps5hTZ-16jFKeoywD5bycvwAt0VQp9c&libraries=places"></script>

<script>
var pac_input = document.getElementById('search_string');

(function pacSelectFirst(input) {
  var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;
  function addEventListenerWrapper(type, listener) {
    if (type == "keydown") {
      var orig_listener = listener;
      listener = function(event) {
        var suggestion_selected = $(".pac-item-selected").length > 0;
        if (event.which == 13 && !suggestion_selected) {
          var simulated_downarrow = $.Event("keydown", {
            keyCode: 40,
            which: 40
          });
          orig_listener.apply(input, [simulated_downarrow]);
        };
        orig_listener.apply(input, [event]);
      };
    }
    _addEventListener.apply(input, [type, listener]);
  }
  input.addEventListener = addEventListenerWrapper;
  input.attachEvent = addEventListenerWrapper;
  var autocomplete = new google.maps.places.Autocomplete(input);
})(pac_input);
</script>

<script type="template" id="tile-template">
  <div class="tile-contents">
    <div class="tile-header">
      <div class="piano-image" style="background-image: url( {{ image_url }} )"></div>
      <div class="piano-address">

        {{ address }}
      </div>
      <div class="tile-close">

        <span onclick="closeTile()">&times;

        </span>
      </div>

    </div>
    <div class="tile-body">
      <div class="piano-category">
        <span class="caps-me">Category:
        {{ category }}</span>
      </div>
      <div class="piano-location-description">
        {{ location_description }}</div>
      <div class="piano-piano-description">
        {{ piano_description }}</div>
      <div class="piano-access-description">
        {{ access_description }}</div>
    </div>
    <div class="tile-footer">
    <div class="tile-btn" onclick="toggleStar({{ id }})">
        <span id="star-text">Add to Favourites</span>
        <i class="fa fa-star" id="star-icon"></i>
    </div>
    <a href="./pianos/{{ id }}">
      <div class="tile-btn">
            <span id="star-text">View Details</span>
            <i class="fa fa-info-circle"></i>
      </div>
    </a>
    </div>
  </div>
</script>
