<%= javascript_include_tag 'details'%>

<p>new piano photo</p>

<form action="/piano_photos" method="post" id="upload-form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="piano_id" value="<%= @piano_id %>">
  <input type="hidden" role="uploadcare-uploader" name="content" data_image_shrink="2048x2048 80%"/>
  <button>Submit your photo</button>
</form>


<script>
    UPLOADCARE_PUBLIC_KEY = '2acf290938084899e061';
    UPLOADCARE_TABS = 'file camera url facebook gdrive dropbox instagram';
    UPLOADCARE_IMAGES_ONLY = true;
</script>


<script src="https://ucarecdn.com/libs/widget/3.1.1/uploadcare.min.js" charset="utf-8"></script>
